﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>Bank Dashboard - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>

        <script src="~/lib/jquery/dist/jquery.min.js"></script> @*NEW FOR KENDO*@
        <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
        <!-- END: Vendor CSS-->
        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">
        <!-- BEGIN: Page CSS-->
        @RenderSection("Styles", required: false)
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/horizontal-menu.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/single-page.css">
        <!-- END: Page CSS-->
        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <!-- END: Custom CSS-->
</head>
<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <header>
        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                        <li class="nav-item">
                            <a class="navbar-brand">
                                <img class="brand-logo" alt="modern admin logo" src="~/app-assets/images/logo/logo.png">
                                <h3 class="brand-text">LightPay</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            @*PLACEHOLDER FOR LOGO*@
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-notification nav-item">
                                <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i><span class="badge badge-pill badge-danger badge-up badge-glow">5</span></a>
                                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                    <li class="dropdown-menu-header">
                                        <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6><span class="notification-tag badge badge-danger float-right m-0">5 New</span>
                                    </li>
                                    <li class="scrollable-container media-list w-100">
                                        <a href="javascript:void(0)">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">You have new order!</h6>
                                                    <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p><small>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">30 minutes ago</time>
                                                    </small>
                                                </div>
                                            </div>
                                        </a><a href="javascript:void(0)">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading red darken-1">99% Server load</h6>
                                                    <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p><small>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Five hour ago</time>
                                                    </small>
                                                </div>
                                            </div>
                                        </a><a href="javascript:void(0)">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                                                    <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p><small>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                                                    </small>
                                                </div>
                                            </div>
                                        </a><a href="javascript:void(0)">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-check-circle icon-bg-circle bg-cyan"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Complete the task</h6><small>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last week</time>
                                                    </small>
                                                </div>
                                            </div>
                                        </a><a href="javascript:void(0)">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-file icon-bg-circle bg-teal"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Generate monthly report</h6><small>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last month</time>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700">John Doe</span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="login-with-bg-image.html"><i class="ft-power"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END: Header-->
        <!-- BEGIN: Main Menu-->
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
            <div class="navbar-container main-menu-content" data-menu="menu-container">
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="la la-bank"></i>
                            <span>Bank Dashboard</span>
                        </a>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="AllAccounts"><i class="la la-edit"></i><span data-i18n="nav.accounts.main">Accounts</span></a>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown">
                        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="la la-dollar"></i><span data-i18n="nav.payments.main">Transactions</span></a>

                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="AllTransactions" data-toggle=""><span>All Transactions</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="CreateTransaction" data-toggle=""><span>Add New</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown">
                        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="la la-eye"></i><span>User Interface</span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-tablet"></i><span>Cards</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="card-bootstrap.html" data-toggle=""><span>Bootstrap</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="card-statistics.html" data-toggle=""><span>Statistics</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="card-charts.html" data-toggle=""><span>Charts</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-server"></i><span>Components</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-alerts.html" data-toggle=""><span>Alerts</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-callout.html" data-toggle=""><span>Callout</span></a>
                                    </li>
                                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><span>Buttons</span></a>
                                        <ul class="dropdown-menu">
                                            <li data-menu="">
                                                <a class="dropdown-item" href="component-buttons-basic.html" data-toggle=""><span>Basic Buttons</span></a>
                                            </li>
                                            <li data-menu="">
                                                <a class="dropdown-item" href="component-buttons-extended.html" data-toggle=""><span>Extended Buttons</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-carousel.html" data-toggle=""><span>Carousel</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-collapse.html" data-toggle=""><span>Collapse</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-dropdowns.html" data-toggle=""><span>Dropdowns</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-list-group.html" data-toggle=""><span>List Group</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-modals.html" data-toggle=""><span>Modals</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-pagination.html" data-toggle=""><span>Pagination</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-navs-component.html" data-toggle=""><span>Navs Component</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-tabs-component.html" data-toggle=""><span>Tabs Component</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-pills-component.html" data-toggle=""><span>Pills Component</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-tooltips.html" data-toggle=""><span>Tooltips</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-popovers.html" data-toggle=""><span>Popovers</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-badges.html" data-toggle=""><span>Badges</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-pill-badges.html" data-toggle=""><span>Pill Badges</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-progress.html" data-toggle=""><span>Progress</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-media-objects.html" data-toggle=""><span>Media Objects</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-scrollable.html" data-toggle=""><span>Scrollable</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="component-spinners.html" data-toggle=""><span>Spinners</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-unlock"></i><span>Authentication</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="login-with-bg-image.html" data-toggle=""><span>Login</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="register-with-bg-image.html" data-toggle=""><span>SignIn</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="recover-password.html" data-toggle=""><span>Forgot Password</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-file-text"></i><span>Form Layouts</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-basic.html" data-toggle=""><span>Basic Forms</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-horizontal.html" data-toggle=""><span>Horizontal Forms</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-hidden-labels.html" data-toggle=""><span>Hidden Labels</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-form-actions.html" data-toggle=""><span>Form Actions</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-row-separator.html" data-toggle=""><span>Row Separator</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-bordered.html" data-toggle=""><span>Bordered</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-striped-rows.html" data-toggle=""><span>Striped Rows</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-layout-striped-labels.html" data-toggle=""><span>Striped Labels</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-paste"></i><span>Form Wizard</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-wizard-circle-style.html" data-toggle=""><span>Circle Style</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="form-wizard-notification-style.html" data-toggle=""><span>Notification Style</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-table"></i><span>Bootstrap Tables</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="table-basic.html" data-toggle=""><span>Basic Tables</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="table-border.html" data-toggle=""><span>Table Border</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="table-sizing.html" data-toggle=""><span>Table Sizing</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="table-styling.html" data-toggle=""><span>Table Styling</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="table-components.html" data-toggle=""><span>Table Components</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-area-chart"></i><span>Chartjs</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item" href="chartjs-line-charts.html" data-toggle=""><span>Line charts</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="chartjs-bar-charts.html" data-toggle=""><span>Bar charts</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="chartjs-pie-doughnut-charts.html" data-toggle=""><span>Pie &amp; Doughnut charts</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="chartjs-scatter-charts.html" data-toggle=""><span>Scatter charts</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="chartjs-polar-radar-charts.html" data-toggle=""><span>Polar &amp; Radar charts</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item" href="chartjs-advance-charts.html" data-toggle=""><span>Advance charts</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Main Menu-->
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - LightPay.Website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@


    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2019
                <a class="text-bold-800 grey darken-2" href="#" target="_blank">LightPay</a>
            </span>
            <span class="float-md-right d-none d-lg-block">
                Hand-crafted & Made with
                <i class="ft-heart pink"></i>
                <span id="scroll-top"></span>
            </span>
        </p>
    </footer>
    <!-- END: Footer-->

    <environment include="Development">
        <!-- BEGIN: Vendor JS-->
        <script src="~/app-assets/vendors/js/vendors.min.js"></script>
        <!-- BEGIN Vendor JS-->
        <!-- BEGIN: Page Vendor JS-->
        <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
        <script src="~/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
        <script src="~/app-assets/vendors/js/forms/extended/card/jquery.card.js"></script>
        <script src="~/app-assets/vendors/js/extensions/moment.min.js"></script>
        <script src="~/app-assets/vendors/js/extensions/underscore-min.js"></script>
        <script src="~/app-assets/vendors/js/extensions/clndr.min.js"></script>
        <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
        <!-- END: Page Vendor JS-->
        <!-- BEGIN: Theme JS-->
        <script src="~/app-assets/js/core/app-menu.js"></script>
        <script src="~/app-assets/js/core/app.js"></script>
        <!-- END: Theme JS-->
        <!-- BEGIN: Page JS-->
        <script src="~/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
        <!-- END: Page JS-->
    </environment>
    <environment exclude="Development">       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
