﻿@model MakePaymentViewModel 

 <!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Add Transaction</h3>

            </div>
        </div>
        <div class="content-body">
            <!-- Form wizard with number tabs section start -->
            <section id="add-payment">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    Add New Transaction
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form action="#" id="commentForm">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="ac-no">
                                                        Payer Account Number
                                                        <span class="danger">
                                                            *
                                                        </span>
                                                    </label>
                                                     <input class="form-control" id="ac-no" name="ac-no" placeholder="Enter Account Number" type="number" required>
                                                   @* <div class="form-group">
                                                        <select class="form-control" id="ac-no" name="ac-no" placeholder="Enter Account Number" required>

                                                            <option>
                                                                Select Account
                                                            </option>

                                                            <option value="Deposit">
                                                                Deposit
                                                            </option>
                                                            <option value="Withdraw">
                                                                Withdraw
                                                            </option>
                                                        </select>
                                                    </div>*@
                                                </div>
                                            </div>


                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="amount">
                                                        Payer Client
                                                        <span class="danger">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input asp-for="@Model.PayerClientName" class="form-control" id="amount" name="amount" placeholder="Enter Player Client" type="text" required>
                                                    <span asp-validation-for="@Model.PayerClientName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="amount">
                                                        Amount
                                                        <span class="danger">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input asp-for="@Model.Ammount" class="form-control" id="amount" name="amount" placeholder="Enter Amount" type="number" required>
                                                    <span asp-validation-for="@Model.Ammount" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6">
                                                <div class="form-group">
                                                    <label for="bank-name">
                                                        Transfer to A/c
                                                        <span class="danger">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input class="form-control" id="bank-name" name="bank-name" placeholder="Transfer to Account" type="search" required>
                                                    <span asp-validation-for="@Model.RecieverAccountNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <div class="form-group">
                                                    <label for="bank-name">
                                                        Payee Client Name
                                                        <span class="danger">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input asp-for="@Model.PayeeClientName" class="form-control" id="bank-name" name="bank-name" placeholder="Payee Client Name" type="text" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-4">
                                                <div class="form-group">
                                                    <label for="projectinput8">
                                                        Description
                                                        <span class="danger">
                                                            *
                                                        </span>
                                                    </label>
                                                    <textarea asp-for="@Model.Description" aspid="projectinput8" rows="8" class="form-control" name="comment" placeholder="Write A Description"></textarea>
                                                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <input type="submit" value="Submit" class="btn btn-success mr-1">
                                    <input type="reset" value="Cancel" class="btn btn-danger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->